body{
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 50px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#wordCloudContainer {
    width: 400px;
    height: auto;
    background-color: lightblue;
    padding: 15px;
    border-radius: 15px;
    margin-top: 25px;
}
.word {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 5px;
    margin-top: 10px;
    color: #FFFFFF;
}

.word:nth-child(1) {
    font-size: 90px; 
    font-weight: 900;
    color: #FF6347;
}

.word:nth-child(2) {
    font-size: 80px;
    font-weight: 850;
    color: #FF4500;
}

.word:nth-child(3) {
    font-size: 70px;
    font-weight: 800;
    color: #FF4500;
    writing-mode: vertical-lr;
}

.word:nth-child(4) {
    font-size: 65px;
    font-weight: 750;
    color: aliceblue;
    writing-mode: horizontal-tb;
}


.word:nth-child(5){
    font-size: 60px;
    font-weight: 700;
    color: brown;

}
.word:nth-child(6) {
    font-size: 55px;
    font-weight: 675;
    color: #FFD700;
    writing-mode: horizontal-tb;
}

.word:nth-child(7) {
    font-size: 50px; 
    font-weight: 650;
    color: #FF1493; 
    
}

.word:nth-child(8) {
    font-size: 45px;
    font-weight: 625;
    color: #20B2AA; 
    writing-mode: vertical-lr;
}
.word:nth-child(9) {
    font-size: 40px;
    font-weight: 600;
    color: #32CD32;
    writing-mode: horizontal-tb;
    margin-bottom: 20px;
}

.word:nth-child(10){
   font-size: 35px;
   writing-mode: horizontal-tb;
   font-weight: 575;
   color: black;   
}
.word:nth-child(11){
    font-size: 33px;
    font-weight: 550;
    color: #9370DB;

}
.word:nth-child(12) {
    font-size: 31px;
    font-weight: 525;
    color: #FF6347;
}


.word:nth-child(13) {
    font-size: 29px;
    font-weight: 500;
    color: black;
}

.word:nth-child(14) {
    font-size: 25px;
    font-weight: 475;
    color: #32CD32;
}

.word:nth-child(15) {
    font-size: 23px;
    font-weight: 450;
    color: #4169E1;
}

.word:nth-child(16) {
    font-size: 21px;
    font-weight: 425;
    color: #9370DB;
}

.word:nth-child(17) {
    font-size: 20px;
    font-weight: 400;
    color: #FF1493;
}

.word:nth-child(18) {
    font-size: 19px;
    font-weight: 375;
    color: #20B2AA;
}

.word:nth-child(19) {
    font-size: 18px;
    font-weight: 350;
    color: #BDB76B;
}

.word:nth-child(20) {
    font-size: 16px;
    font-weight: 300;
    color: red;
}
.word:nth-child(2),
.word:nth-child(6),
.word:nth-child(8),
.word:nth-child(9) {
    text-shadow: 0 0 5px #FF4500; 
}